@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.App {
  text-align: center;
 
}

body, html {
  font-family: 'Quicksand';
}


/* NavBar */

.navbar{
  font-family: 'Quicksand';
  color:rgb(12, 12, 12);
  font-size: large;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  /* Single Reviews */
}
.selected_review_headers{
  color: rgb(98, 144, 161);
}

/* Review List Cards */

.review_image {
  height: 200px;
}

.review_cards_headers {
  color: rgb(98, 144, 161);
  
}

.review_cards {
  padding-bottom: 40px;
}

/* Categories Links and Header */



/* UpdateVotes */

