@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.App {
  text-align: center;
 
}

body, html {
  font-family: 'Quicksand';
}

.review_image {
  height: 200px;
}

.navbar{
  font-family: 'Quicksand';
  color:rgb(12, 12, 12);
  font-size: large;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}

